<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
         >

    <!-- Redis 连接池配置 -->
    <bean id="shardedRWRedisPoolConfig" class="cn.focus.dc.commons.redis.ShardedRWRedisPoolConfig">
        <!--最大分配的对象数 -->
        <property name="maxActive" value="500"/>
        <!-- 最大能够保持idel状态的对象数 -->
        <property name="maxIdle" value="200"/>
        <!-- 当池内没有返回对象时，最大等待时间 -->
        <property name="maxWait" value="1000"/>
        <!-- 当调用borrow Object方法时，是否进行有效性检查 -->
        <property name="testOnBorrow" value="true"/>
        <!-- 当idle时，检测连接是否正常 -->
        <property name="testWhileIdle" value="true"/>
        <!-- 当连接返还时，检测连接是否正常 -->
        <property name="testOnReturn" value="true"/>
    </bean>

    <!-- RedisPool 实例工厂类配置 -->
    <bean id="sceRWRedisPoolFactory" class="cn.focus.dc.commons.redis.sce.SCERWRedisPoolFactory">
        <property name="sceRedisServerListBuilder" ref="sceRedisServerListBuilder"/>
        <property name="config" ref="shardedRWRedisPoolConfig"/>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean
                        class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"></bean>
            </list>
        </property>
    </bean>


    <beans profile="local,test,test_sce">
        <!-- SCE Redis 配置 -->
        <bean id="sceRedisServerListBuilder" class="cn.focus.dc.commons.redis.sce.SCERedisServerListBuilder">
            <!-- sceAPIUrl为SCE统一接口样式 不需要修改 -->
            <property name="sceAPIUrl"
                      value="http://sceapi.apps.sohuno.com/api/redis/release?uid={sceRedisUId}"/>
            <!-- sceRedisUId 修改为Redis的UID -->
            <property name="sceRedisUId" value="2132"/>
            <!-- masterPassport 修改为Redis的密码 -->
            <property name="masterPassport" value="dd630c9a599850ad19a953909529daf6"/>
            <!-- slavePassport 修改为Redis的密码 -->
            <property name="slavePassport" value="dd630c9a599850ad19a953909529daf6"/>
            <!-- 这里需要一个 RestTemplate 可以参考下面的配置 -->
            <property name="restTemplate" ref="restTemplate"/>
        </bean>
    </beans>

    <beans profile="product">
        <!-- SCE Redis 配置 -->
        <bean id="sceRedisServerListBuilder" class="cn.focus.dc.commons.redis.sce.SCERedisServerListBuilder">
            <!-- sceAPIUrl为SCE统一接口样式 不需要修改 -->
            <property name="sceAPIUrl"
                      value="http://sceapi.apps.sohuno.com/api/redis/release?uid={sceRedisUId}"/>
            <!-- sceRedisUId 修改为Redis的UID -->
            <property name="sceRedisUId" value="2133"/>
            <!-- masterPassport 修改为Redis的密码 -->
            <property name="masterPassport" value="73dc31eb05ab19be456fd31e6ac3bf2e"/>
            <!-- slavePassport 修改为Redis的密码 -->
            <property name="slavePassport" value="73dc31eb05ab19be456fd31e6ac3bf2e"/>
            <!-- 这里需要一个 RestTemplate 可以参考下面的配置 -->
            <property name="restTemplate" ref="restTemplate"/>
        </bean>

    </beans>
</beans>