<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ManualPleDao">
	<!--mybatis3 这个namespace 必需指定到接口上去 -->
	<resultMap id="BaseResultMap" type="ManualParticiple">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="group_id" property="groupId" jdbcType="BIGINT" />
		<result column="manual_words" property="manualWords" jdbcType="VARCHAR" />
		<result column="editor" property="editor" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
	</resultMap>

	<sql id="Base_Column_List">
		id as id,
		group_id as groupId,
		manual_words as manualWords,
		editor as editor,
		create_time as createTime,
		update_time as updateTime
	</sql>


	<insert id="insertManualWords" parameterType="ManualParticiple" statementType="PREPARED" flushCache="true">
		INSERT INTO manual_participle (
			group_id,
			manual_words,
			editor,
			create_time,
			update_time
			)
		VALUES
			(
			#{groupId},
			#{manualWords},
			#{editor},
			now(),
			now()
			)
		ON DUPLICATE KEY UPDATE
		manual_words=VALUES(manual_words),update_time=now();
	</insert>
</mapper>