<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ParticipleDao">
    <!--mybatis3 这个namespace 必需指定到接口上去 -->
    <resultMap id="BaseResultMap" type="Participle">
        <id 	column="id" 			property="id" 			jdbcType="INTEGER"/>
        <result column="pid" 			property="pid" 			jdbcType="INTEGER"/>
        <result column="name" 			property="name" 		jdbcType="VARCHAR"/>
        <result column="alias_name" 	property="aliasName" 	jdbcType="VARCHAR"/>
        <result column="participles" 	property="participles" 	jdbcType="VARCHAR"/>
        <result column="editor" 		property="editor" 		jdbcType="VARCHAR"/>
        <result column="type" 			property="type" 		jdbcType="INTEGER"/>
        <result column="status" 		property="status" 		jdbcType="INTEGER"/>
        <result column="create_time" 	property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" 	property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,
		pid,
		name,
		alias_name,
		participles,
		editor,
		type,
		status,
		create_time,
		update_time 

	</sql>

	<!--更新-->
    <update id="updateParticiple" parameterType="Participle" statementType="PREPARED" flushCache="true">
        update participle
        <set>
            <if test="pid != null">			pid 		= #{pid},</if>
            <if test="name != null">		name 		= #{name},</if>
            <if test="aliasName != null">	alias_name 	= #{aliasName},</if>
            <if test="participles != null">	participles = #{participles},</if>
            <if test="editor != null">		editor 		= #{editor},</if>
            <if test="type != null">		type 		= #{type},</if>
            <if test="status != null">		status 		= #{status},</if>
            <if test="updateTime != null">	update_time = #{updateTime},</if>
            <if test="createTime != null">	create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

	<!-- 获取未分词列表 -->
    <select id="getParticipleList" resultMap="BaseResultMap" parameterType="java.lang.String" statementType="PREPARED">
        select
        <include refid="Base_Column_List"/>
        from participle
        where participles = #{participles}
        and status = #{status}
    </select>
	
	<select id="getDayFinalHouseParticipleList" resultMap="BaseResultMap"
		parameterType="java.lang.String" statementType="PREPARED">
		select
		<include refid="Base_Column_List" />
		from participle
		where participles =""
		and status = 1
		and to_days(update_time)=to_days(now());
	</select>
    <!--
        <sql id="Base_Where_Clause">
            <where>
                <trim prefixOverrides="and">
                    <if test="dicId != null">and dic_id = #{dicId}</if>
                    <if test="dicName != null">and dic_name = #{dicName}</if>
                    <if test="dicValue != null">and dic_value = #{dicValue}</if>
                    <if test="dicGroup != null">and dic_group = #{dicGroup}</if>
                    <if test="dicType != null">and dic_type = #{dicType}</if>
                    <if test="dicOrder != null">and dic_order = #{dicOrder}</if>
                    <if test="dicStatus != null">and dic_status = #{dicStatus}</if>
                    <if test="dicParentId != null">and dic_parent_id = #{dicParentId}</if>
                    &lt;!&ndash; 模糊查询 &ndash;&gt;
                    <if test="dicNameLike != null">and dic_name like CONCAT("%",#{dicNameLike},"%")</if>
                    <if test="dicGroupLike != null">and dic_group like CONCAT("%",#{dicGroupLike},"%")</if>
                </trim>
            </where>
            <if test="sorting != null">order by ${sorting}</if>
            <if test="offset != null and limit != null">
                limit #{offset}, #{limit}
            </if>
        </sql>

        &lt;!&ndash; 查询总数 &ndash;&gt;
        <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
            select count(dic_id)
            from sys_dictionary
            <include refid="Base_Where_Clause"/>
        </select>

        &lt;!&ndash; 查询 &ndash;&gt;
        <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
            select
            <include refid="Base_Column_List"/>
            from sys_dictionary
            <include refid="Base_Where_Clause"/>
        </select>

        &lt;!&ndash; 根据ID查询 &ndash;&gt;
        <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
            select
            <include refid="Base_Column_List"/>
            from sys_dictionary
            where dic_id = #{dicId}
        </select>

        &lt;!&ndash; 根据ID删除 &ndash;&gt;
        <delete id="deleteById" parameterType="java.lang.String">
            delete from sys_dictionary
            where dic_id = #{dicId}
        </delete>

        &lt;!&ndash; 删除 &ndash;&gt;
        <delete id="delete" parameterType="java.util.Map">
            delete from sys_dictionary
            <include refid="Base_Where_Clause"/>
        </delete>

        &lt;!&ndash; 通过ID更新 &ndash;&gt;
        <update id="updateByIdSelective" parameterType="com.viathink.sys.domain.SysDictionary">
            update sys_dictionary
            <set>
                <if test="dicName != null">dic_name = #{dicName},</if>
                <if test="dicValue != null">dic_value = #{dicValue},</if>
                <if test="dicGroup != null">dic_group = #{dicGroup},</if>
                <if test="dicType != null">dic_type = #{dicType},</if>
                <if test="dicOrder != null">dic_order = #{dicOrder},</if>
                <if test="dicStatus != null">dic_status = #{dicStatus},</if>
                <if test="dicParentId != null">dic_parent_id = #{dicParentId},</if>
            </set>
            where dic_id = #{dicId}
        </update>

        <update id="updateById" parameterType="cn.focus.search.news.model.City">
            update sys_dictionary
            set dic_name = #{dicName},
            dic_value = #{dicValue},
            dic_group = #{dicGroup},
            dic_type = #{dicType},
            dic_order = #{dicOrder},
            dic_status = #{dicStatus},
            dic_parent_id = #{dicParentId}
            where dic_id = #{dicId}
        </update>-->

</mapper>