<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ParticipleDao">
    <!--mybatis3 这个namespace 必需指定到接口上去 -->
    <resultMap id="BaseResultMap" type="Participle">
        <id 	column="id" 			property="id" 			jdbcType="INTEGER"/>
        <result column="pid" 			property="pid" 			jdbcType="INTEGER"/>
        <result column="name" 			property="name" 		jdbcType="VARCHAR"/>
        <result column="alias_name" 	property="aliasName" 	jdbcType="VARCHAR"/>
        <result column="participles" 	property="participles" 	jdbcType="VARCHAR"/>
        <result column="editor" 		property="editor" 		jdbcType="VARCHAR"/>
        <result column="type" 			property="type" 		jdbcType="INTEGER"/>
        <result column="status" 		property="status" 		jdbcType="INTEGER"/>
        <result column="create_time" 	property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" 	property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <sql id="Base_Column_List">
		id,
		pid,
		name,
		alias_name,
		participles,
		editor,
		type,
		status,
		create_time,
		update_time 

	</sql>

	<!--更新-->
    <update id="updateParticiple" parameterType="Participle" statementType="PREPARED" flushCache="true">
        update participle
        <set>
            <if test="pid != null">			pid 		= #{pid},</if>
            <if test="name != null">		name 		= #{name},</if>
            <if test="aliasName != null">	alias_name 	= #{aliasName},</if>
            <if test="participles != null">	participles = #{participles},</if>
            <if test="editor != null">		editor 		= #{editor},</if>
            <if test="type != null">		type 		= #{type},</if>
            <if test="status != null">		status 		= #{status},</if>
            <if test="updateTime != null">	update_time = #{updateTime},</if>
            <if test="createTime != null">	create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>
    
    <!-- 将已经导出楼盘status状态置0 -->
    <update id="setExported"  flushCache="true">
        update participle
        set status=2
        where !ISNULL(participles) and status=1
    </update>
    
    
	<!-- 获取未分词列表 -->
    <select id="getParticipleList" resultMap="BaseResultMap"  statementType="PREPARED">
        select
        <include refid="Base_Column_List"/>
        from participle
        where status = #{status} and ISNULL(participles)
    </select>
	
	<select id="getTotalNum" resultType="java.lang.Integer"  statementType="PREPARED">
        select	count(1)
        from participle
        where status = #{status} and ISNULL(participles)
    </select>
	
	<!-- 根据status获取分词 -->
	<select id="getParticiplesByStatus" parameterType="java.lang.Integer" 
	 resultType="java.lang.String" statementType="PREPARED"><!-- resultMap="BaseResultMap"  -->
		select participles	
		from participle
		where status=#{status} and !ISNULL(participles)
	</select>
	
	<select id="getDayFinalHouseParticipleList" resultMap="BaseResultMap"
		parameterType="java.lang.String" statementType="PREPARED">
		select
		<include refid="Base_Column_List" />
		from participle
		where status = 1
		and to_days(update_time)=to_days(now())
	</select>

	<select id="getTotalFinalHouseParticipleList" resultMap="BaseResultMap"
		parameterType="java.lang.String" statementType="PREPARED">
		select
		<include refid="Base_Column_List" />
		from participle
		where status = 1
	</select>
	
	<delete id="delParticipleWordsByPid" parameterType="java.lang.Integer" statementType="PREPARED">
		delete from participle
		where pid=#{pid}
	</delete>
</mapper>